.imgSizee{
    width: 13%;
    margin: 5px;
}

.divwidth{
    width: 80%;
}


.cleanup{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.divbg{
    background-color: rgb(238, 238, 238);
}

@media (max-width: 320px){
    .divwidth{
        width: 90%;
    }
}

@media(max-width: 480px){
    .divwidth{
        width: 90%;
    }
}

@media (max-width: 600px){
    .divwidth{
        width: 90%;
    }
}